* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background: linear-gradient(to bottom, #2e3b4e, #495a70);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Jersey 25', sans-serif;
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #e0e0e0; /* Warna lembut */
}

input,
textarea {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #bbb; /* Ubah warna border */
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2); /* Warna background */
  color: white; /* Warna teks */
}

.button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

button {
  padding: 10px 20px;
  background-color: #506680; /* Warna biru tua */
  color: #e0e0e0; /* Warna teks putih krem */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #6d889c; /* Border lebih gelap */
  transition: all 0.3s ease; /* Transisi halus */
}

button:hover {
  background-color: #6d889c; /* Perubahan warna */
  transform: scale(1.1); /* Perubahan ukuran */
  border: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Efek bayangan */
}

.btn-clear:hover {
  background-color: #2e3b4e; /* Warna lebih gelap */
  border: 1px solid black;
}

#result {
  margin-top: 20px;
}

.container {
  background: linear-gradient(to bottom right, #3a4a5d, #495a70);
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  border: 1px solid #6d889c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), -5px 5px 5px rgba(0, 0, 0, 0.5);
}

.btn-clear {
  background-color: #6d889c;
  border: 1px solid #3a4a5d;
}
